<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="stilo.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="info-header">
      <div class="logo">
        <h3>APP FINANCAS</h3>
      </div>
    </div>
    <nav class="menu-header">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ADICIONAR</a></li>
        <li><a href="">METAS</a></li>
      </ul>
    </nav>
    <div class="info-header">
      <img src="https://i.pinimg.com/564x/45/27/a3/4527a3d0ae38bd6d90988a11b31eb627.jpg" alt="">
    </div>
  </header>

  <main>
    <div class="tableDashboard">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th class="colunaValor">Valor</th>
            <th class="colunaTipo">Tipo</th>
            <th class="colunaAcao"></th>
          </tr> 
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>

  </main>
</body>
</html>